body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header-circle {
  width: 25px;
  height: 25px;
  background-color: orange;
  border-radius: 50%;
  flex-shrink: 0;
}

.header-title{
  display: flex;
  align-items: baseline;
}
.header-name {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  margin-left: 10px;
}

.header-job {
  color: #000;
  margin-left: 5px;
}
.header-navItem {
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  display: inline-block;
}
.header-rightBorder {
  border-right: 1px solid #333;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  border-bottom: 1px solid #eee;
}
.main-imgWrap {
  width: 250px;
  flex-shrink: 0;
}
.main-img {
  width: 100%;
  padding-bottom: 100%;
  background-image: url(./assets/images/avatar.jpeg);
  background-position: center 30%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.main-content {
  padding: 0 20px;
  margin-left:30px;
  max-width: 500px;
  box-sizing: border-box;
}
.main-nav{
  display: flex;
  justify-content: space-between;
}
.main-navItem {
  width: 100px;
  height: 100px;
  text-align: center;
  display: block;
  color: #fff;
  text-decoration: none;
  position: relative;
  border-radius: 50%;
}
.main-navItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-navItem:nth-child(1) {
  background-color: orange;
}
.main-navItem:nth-child(2) {
  background-color: red;
}
.main-navItem:nth-child(3) {
  background-color: blue;
}

.footer {
  display: flex;
}

.footer-item {
  flex-grow: 1;
  flex-basis: 100px;
}

.footer-sns {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.footer-sns img {
  width: 100%;
}
