body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  padding: 10px 5px;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}

.header-link {
  float: left;
  text-decoration: none;
}
.header-nav {
  float: right;
  font-weight: bold;
  font-size: 13px;
}
.header-circle {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: orange;
  border-radius: 50%;
  vertical-align: middle;
}
.header-title {
  display: inline-block;
  vertical-align: middle;
}
.header-name {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  margin-left: 10px;
}

.header-job {
  color: #000;
  margin-left: 5px;
}
.header-navItem {
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  display: inline-block;
}
.header-rightBorder {
  border-right: 1px solid #333;
}
.main {
  padding: 50px 0;
  border-bottom: 1px solid #eee;
}
.main:after {
  content: "";
  display: table;
  clear: both;
}
.main-imgWrap {
  width: 40%;
  float: left;
}
.main-img {
  width: 100%;
  padding-bottom: 100%;
  background-image: url(./cherng.jpg);
  background-position: center 30%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.main-content {
  float: left;
  width: 60%;
  padding: 0 20px;
  box-sizing: border-box;
}
.main-navItem {
  width: 100px;
  height: 100px;
  text-align: center;
  display: inline-block;
  color: #eee;
  text-decoration: none;
  position: relative;
  border-radius: 50%;
}
.main-navItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-navItem:nth-child(1) {
  background-color: orange;
}
.main-navItem:nth-child(2) {
  background-color: red;
}
.main-navItem:nth-child(3) {
  background-color: blue;
}

.footer:after {
  content: "";
  display: table;
  clear: both;
}

.footer-item {
  float: left;
  width: 25%;
}

.footer-sns {
  width: 25px;
  height: 25px;
  display: inline-block
}

.footer-sns img {
  width: 100%;
}
